@import url(https://fonts.googleapis.com/css?family=Abel);
@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);

.name-row{
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #002732;
}
.name-row p{
    font-size: 2.8em;
    font-family: 'Shadows Into Light';
    color: #ffffff;
}

.nav-row{
    background-color: #e0e0e0;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px dotted #ffffff;
}

.nav-item > a{
    font-size: 1.5em;
    font-family: 'Abel';
}
.nav-item > a:link, a:visited{
    color: #002732;
}
.nav-item > a:hover, a:active{
    color: #707070;
}
.nav-item > a.active{
    color: #707070;
}

.about-me-row{
    padding: 70px 0px 70px 0px;
    max-width: 1000px;
    margin: 0 auto;
}
h1{
    font-size: 2em;
    font-family: 'Shadows Into Light';
}
.about-me-row p, figcaption{
    font-size: 1.2em;
    font-family: 'Abel';
}

.photo1 {
    background-image: url("../img/code-background.jpg");

    height: 450px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.photo2 {
    background-image: url("../img/desk-background.jpg");

    height: 450px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.my-skills-row{
    padding: 70px 0px 20px 0px;
    max-width: 1000px;
    margin: 0 auto;
}
.my-skills-figure-row{
    padding: 20px 0px 20px 0px;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}
figure img{
    height: 100px;
}

.education-row{
    padding: 20px 0px 20px 0px;
    max-width: 1000px;
    margin: 0 auto;
}
.education-row figure{
    margin: 0 auto;
    text-align: center;
}

.education-row figure img{
    height: 150px;
}

.contact-main-row{
    padding: 70px 0px 20px 0px;
    margin: 0 auto;
    background-color: #002732;
    border-top: 2px dotted #ffffff;
}
.contact-row{
    max-width: 1000px;
    margin: 0 auto;
    background-color: #002732;
}
.contact-row h1{
    color: #ffffff;
}
.contact-figure-row{
    padding: 20px 0px 20px 0px;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #002732;
    text-align: center
}
.contact-figure-row figure{
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
    display: inline;
    padding: 0 10px;
}
.contact-figure-row figure img{
    height: 60px;
}